.contact-container {
    color: grey;
    .title {        
        margin-bottom: 2%;
        h1{
            text-align: center;
            color: rgb(27, 25, 25);
            font-family: century gothic;
            font-weight: bold;
        }
    }
        p {
            text-align: left;
        }
        .pre-contact {
            white-space: pre-line;
            margin-left: 12%;
                                  
            .contact-terminal {
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
        
        
}