.span1 {
    color: #2100F0;            
}

.span2 {
    color: #4741F0;
}

.span3 {
    color: #4072F0
}

.spanFuncion {
    color: grey;
}

.spanParametroFuncion {
    color: #F57E00;
}

.icono-text-about {
    color: blueviolet;
} 