
.header-container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.col1{
    display: flex; 
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
    }
 }
 .col2{
    display: flex; 
    justify-content: center;
    align-items: center;

    .info {
        border-radius: 2rem;    
        box-shadow: 24px 24px 48px #d9d9d9,-24px -24px 48px #d9d9d9;
    }

    pre{
        margin-top: 10%;
        margin-right: 10%;
        margin-left: -19%;
        margin-bottom: 9%;
    }
 }


 .COLROJ{
    color: rgba(255, 58, 58, 0.9);
 }
 .oblique{
    font-style: oblique;
 }
 .COLMOR{
    color: rgba(136, 26, 138, 0.9);
 }

 .text-gradient {
    color: transparent;
    background-image: linear-gradient(to left,#FFD700,#FFD700, #7B68EE, #3498db, #2ecc71, #3498db, #7B68EE,#FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;    
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}