
.header-container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.col1{
    display: flex; 
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
    }
 }
 .col2{
    display: flex; 
    justify-content: center;
    align-items: center;

    .info {
        border-radius: 2rem;    
        box-shadow: 24px 24px 48px #d9d9d9,-24px -24px 48px #d9d9d9;
    }

    pre{
        margin-top: 10%;
        margin-right: 10%;
        margin-left: -19%;
        margin-bottom: 9%;
    }
 }


 .COLROJ{
    color: rgba(255, 58, 58, 0.9);
 }
 .oblique{
    font-style: oblique;
 }
 .COLMOR{
    color: rgba(136, 26, 138, 0.9);
 }

 .text-gradient {
    color: transparent;
    background-image: linear-gradient(to left,#FFD700,#FFD700, #7B68EE, #3498db, #2ecc71, #3498db, #7B68EE,#FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;    
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}


@media(max-width : 1684px){
    .header-container{
        grid-template-columns: repeat(2,1fr) !important;
    }
}

@media(max-width : 1273px){
    .header-container{
        grid-template-columns: repeat(1,1fr) !important;
    }
}

@media(max-width : 847px){
    .header-container{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .pre-misConocimientos  {
        font-size: .700em;
    }
    .pre-about {
        font-size: .700em;
    }

    .pre-header {
        font-size: .700em;
    }
}

@media(max-width : 437px){
    .header-container{
        grid-template-columns: repeat(1,1fr) !important;        
    }

    .pre-misConocimientos  {
        font-size: .600em;
    }
    .pre-about {
        font-size: .600em;
    }

    .pre-header {
        font-size: .655em;
    }

}


/* about */

.about-container {
    color: grey;
    .title {        
        margin-bottom: 2%;
        h1{
            text-align: center;
            color: rgb(27, 25, 25);
            font-family: century gothic;
            font-weight: bold;
        }
    }
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
    .faceImg {
        border-radius: 50%;
        box-shadow: 24px 24px 40px #fff9f9,-24px -24px 40px #d9d9d9;
    }

    .text-about {
        p {
            text-align: left;
        }

        .pre-about {
            white-space: pre-line;
            margin-left: 12%;
            margin-bottom: -55px;
        }
        .span1 {
            color: #2100F0;            
        }

        .span2 {
            color: #4741F0;
        }

        .span3 {
            color: #4072F0
        }

        .icono-text-about {
            color: blueviolet;
        }

        .spanFuncion {
            color: grey;
        }

        .spanParametroFuncion {
            color: #F57E00;
        }

        .misConocimientos {
            .titulo-misConocimientos {
                h2{
                    text-align: center;
                }                               
            }
            
            h3 {
                text-align: center;
            }
            .conocimientos {
                text-align: center;
                margin-bottom: 5%;

                h3 {
                    margin-top: 2%;
                }
            }
        }   
        
        
        .pre-misConocimientos {
            white-space: pre-line;
            margin-left: 12%;
        }
    }
}